@import "../../../src/variables.scss";

.lyricSection {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  padding-top: 5%;

  @media (min-width: $tablet) {
    width: 80%;
  }
  @media (min-width: $laptop) {
    width: 40%;
  }
  .lyricsSection:empty {
    display: none;
  }



  .lyrics {
    padding: 5%;
    background-color: black;
    border-radius: 10px;
    color: white;
  }

  
  .lyrics:empty {
    display: none;
  }

}

.lyricsSection:empty {
  display: none;
}